---
layout: default
title: Individual LinkedIn solutions
permalink: /linkedin-services/individual
exclude: true
---

<div id="main">
  <header>
    <h2>{{ page.title }}</h2>
  </header>
</div>

<section id="three" class="wrapper style5">
  <div class="inner">
    <header class="major">
      <p>With a specialism and background in this platform we can offer a full service on LinkedIn, from using the platform as an individual to help find a new role to helping elevate your profile in your current position.</p>
      <p>Here are just some of the ways we can help you:</p>
      <ul>
        <li>Are you looking to move jobs external or internal?</li>
        <li>Are you looking to move into freelancing/contracting?</li>
        <li>Do you want to raise your internal profile?</li>
        <li>Are you looking to increase your network?</li>
        <li>Are you looking to upskill in your current role?</li>
        <li>Do you want to get promoted?</li>
        <li>Are you interested in sharing more content or perhaps writing?</li>
        <li>Are you a graduate and fresh into a new position or looking for your first role?</li>
      </ul>
      <p>If any of these questions sound like you, we have tailored packages that can help.</p>
      <p>If you can't find anything suitable we'd be happy to <a href="{{ "/contact" | prepend: site.baseurl }}">have a chat</a> and build you something that does.</p>
    </header>

    {% assign services = site.linkedin_individual_services | sort: 'order' %}
    {% for service in services %}
    <hr>
    <header>
      <h4>{{ service.title }}</h4>
      <p>{{ service.intro }}</p>
    </header>
    {{ service.content }}
    {% endfor %}
  </div>
</section>

{% include contact.html %}
