<!-- Footer -->
<footer id="footer">
  <ul class="copyright">
    <li>&copy; {% assign thisyear = site.time | date: "%Y" %}
    {% if site.first_published %}
      {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
      {% if diff contains '-' %}{{ site.first_published }},{% endif %}
    {% endif %}
    {{ thisyear }}
    {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}</li>
    <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    <li>Tel: <a href="tel:{{ site.tel | replace:'0','+44' | remove: ' ' }}">{{ site.tel }}</a></li>
  </ul>
  <ul class="copyright">
    <li>Registered UK Company No. {{ site.company_no }}</li>
  </ul>
</footer>
