<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title | escape | append: ' - ' }}{% endif %}B2B Social Media - London - {{ site.title | escape }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/favicons/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicons/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicons/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/favicons/site.webmanifest" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ "/favicons/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#2e3842">
  <link rel="shortcut icon" href="{{ "/favicons/favicon.ico" | prepend: site.baseurl }}">
  <meta name="apple-mobile-web-app-title" content="Digital Parakeet">
  <meta name="application-name" content="Digital Parakeet">
  <meta name="msapplication-TileColor" content="#2e3842">
  <meta name="msapplication-config" content="{{ "/favicons/browserconfig.xml" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#2e3842">
  <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ site.gtm }}');</script>
  <!-- End Google Tag Manager -->
</head>
